ipyvuetify>=1.2.2
ipywidgets==7.6.5
gekko~=1.0.5
numpy~=1.21.5
pandas
plotly==5.5.0
seeq
tensorflow~=2.5
keras-tuner==1.0.4
scipy
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2 
jupyterlab==3.2.4
voila~=0.3.0