ipyvuetify
ipywidgets
gekko
numpy
pandas
plotly==5.5.0
seeq
seeq-spy
tensorflow
keras-tuner==1.0.4
scipy
jupyterlab-pygments
jupyterlab-widgets
jupyterlab
voila~=0.3.0
mistune>=2.0.3 
setuptools>=65.5.1 